.wrapper {
    display: flex;
}

#sidebar {
    width: 20%;
    height: 97vh;
    background-color: lightblue;
}

#content  {
    width: 70%;
    margin: auto;
    height: 97vh;
    background-color: lightcyan;
}

#modal {
    width: 40%;
    height: 80%;
    position: absolute ;
    left: 50%;
    transform: translate(-50%, 0);
    top:10vh;
    background-color: lightcoral;

    display: none;
}
#projects-list {
    list-style-type: none;
    padding-left: 0;
}


.projects-list-item {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.active-project {
    border: solid 1px black;
}

.close {
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transform: rotate(45deg);
}

.todo {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    cursor: pointer;
    padding-left: 5px;
}

.todo-controls {
    display: flex;
    padding-right: 15px;
}

.edit-todo {
    float: right;
    padding-right: 1em;
}

.delete-item {
    cursor: pointer;
    
}